body
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header
{
    z-index: 4;
    position: fixed;
    background: #22242a;
    padding: 20px;
    width: 100%;
    height: 40px;
}

.left_s h2
{
    color: rgba(255, 255, 255, 0.973);
    margin-top: 0px;
    font-size: 28px;
    font-weight: 900;
}

.left_s span
{
    color: rgb(0, 162, 255);
}

.right_s 
{
    margin-top: -50px;
    margin-left: 350px;
}

.right_s a
{
    font-family: "Roboto", sans-serif;
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: 0.2s;
    transition-property: color;
}

.right_s a:hover
{
    color: rgb(0, 162, 255);
}

#album
{
    color: rgb(0, 162, 255);
}
#album:hover
{
    color: white;
}
#album:active
{
    color: rgb(0, 162, 255);
}

.lgot_btn
{
    padding: 5px;
    background: #2499bd;
    text-decoration: none;
    float: right;
    margin-top: -45px;
    margin-right: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.lgot_btn:hover
{
    background: #2db1da;
}

.sidebar
{
    z-index: 1;
    background: #2F323A;
    margin-top: 80px;
    padding-top: 30px;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
}

.sidebar .prof_img
{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4
{
    color: #ccc;
    margin-top: 5px;
    margin-bottom: 20px;
}

.sidebar a
{
    color: #fff;
    display: block;
    width: 100%;
    line-height:50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.3s;
    transition-property: background;
}

.sidebar a:hover
{
    background: rgb(25, 168, 197);
}

.sidebar a:active
{
    background: rgb(16, 147, 173);
}

.sidem
{
    margin-left: 80px;
    font-size: large;
}

.sidem a
{
    padding: 0px;
    line-height: 0px;
    display: inline;
    transition-property: background;
}

.sidem a:hover
{
    background: #2F323A;
}

.sidem i
{
    color: black;
    margin-top: 70px;
    padding-right: 10px;
}

.sidebar i
{
    padding-right: 10px;
    font-size: larger;                     
}

label #slide_btn
{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 24px;
    margin: 9px 0;
    transition: 0.3s;
    transition-property: color;
}

label #slide_btn:hover
{
    color: rgb(0, 162, 255);
}

#check:checked ~ .sidebar
{
    left: 0px;
    transition: 0.5s;
    transition-property: left;
}

#check:not(checked) ~ .sidebar
{
    transition: 0.5s;
}

#check
{
    display: none;
}

.content
{
    color: white;
    position: absolute;
    left: 250px;
    top: 250px;
    font-size: 23px;
}

#check:checked ~ .content
{
    position: absolute;
    top: 250px;
    left: 370px;
    transition: 0.5s;
    transition-property: left;
}

#check:not(checked) ~ .content
{
    transition: 0.5s;
}

.content h1
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin-top: -140px;
    margin-left: 280px;
}

.bimg
{
    margin-left: 0px;
    background: rgb(231, 230, 230);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/*
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
*/

/* Slideshow container */
/*.content {
  max-width: 1000px;
  position: relative;
  margin: auto;
}*/


/* Caption text */
/*.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  margin-top: 0px;
}

/* The dots/bullets/indicators */
/*.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: rgb(41, 128, 150);
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s;
  transition-property: background;
}

.dot:active {
  background: #bbda0e;
}
*/


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size *
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
*/

.slidetext 
{
    text-align: left;
    position: absolute;
    margin-top: -300px;
    margin-left: 600px;
}
.slidetext h5
{
    font-size: 35px;
    color: #22242a;
}
#st2
{
    margin-top: -45px;
}