body
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header
{
    z-index: 4;
    position: fixed;
    background: #22242a;
    padding: 20px;
    width: 100%;
    height: 40px;
}

.left_s h2
{
    color: rgba(255, 255, 255, 0.973);
    margin-top: 0px;
    font-size: 28px;
    font-weight: 900;
}

.left_s span
{
    color: rgb(0, 162, 255);
}

.right_s 
{
    margin-top: -50px;
    margin-left: 350px;
}

.right_s a
{
    font-family: "Roboto", sans-serif;
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: 0.2s;
    transition-property: color;
}

.right_s a:hover
{
    color: rgb(0, 162, 255);
}

.lgot_btn
{
    padding: 5px;
    background: #2499bd;
    text-decoration: none;
    float: right;
    margin-top: -45px;
    margin-right: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.lgot_btn:hover
{
    background: #2db1da;
}

.sidebar
{
    z-index: 1;
    background: #2F323A;
    margin-top: 80px;
    padding-top: 30px;
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
}

.sidebar .prof_img
{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4
{
    color: #ccc;
    margin-top: 5px;
    margin-bottom: 20px;
}

.sidebar a
{
    color: #fff;
    display: block;
    width: 100%;
    line-height:50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.3s;
    transition-property: background;
}

.sidebar a:hover
{
    background: rgb(25, 168, 197);
}

.sidebar a:active
{
    background: rgb(16, 147, 173);
}

#i3
{
    background: rgb(25, 168, 197);
}
#i3:active
{
    background: rgb(16, 147, 173);
}

.sidem
{
    margin-left: 80px;
    font-size: large;
}

.sidem a
{
    padding: 0px;
    line-height: 0px;
    display: inline;
    transition-property: background;
}

.sidem a:hover
{
    background: #2F323A;
}

.sidem i
{
    color: black;
    margin-top: 70px;
    padding-right: 10px;
}

.sidebar i
{
    padding-right: 10px;
    font-size: larger;                     
}

label #slide_btn
{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 24px;
    margin: 9px 0;
    transition: 0.3s;
    transition-property: color;
}

label #slide_btn:hover
{
    color: rgb(0, 162, 255);
}

#check:checked ~ .sidebar
{
    left: -250px;
    transition: 0.5s;
    transition-property: left;
}

#check:not(checked) ~ .sidebar
{
    transition: 0.5s;
}

#check
{
    display: none;
}

.content
{
    color: white;
    position: absolute;
    left: 680px;
    top: 70px;
    font-size: 23px;
    transition: 0.5s;
}

#check:checked ~ .content
{
    position: absolute;
    top: 70px;
    left: 580px;
    transition: 0.5s;
    transition-property: left;
}

.content h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #22242a;
}

.checkc
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 9px;
    width: 650px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    margin-left: -250px;
    position: relative;
}

.checkc:hover
{
    transition: 0.3s;
    background: rgb(94, 93, 93);
}

.checkc:active
{
    transition: 0.3s;
    background: #777;
}

.sr1
{
    width: 613px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-left: -250px;
}

.sr1 p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #2F323A;
}
.sr1 p span
{
    font-weight: bold;
} 

.aoq
{
    margin-left: -250px;
    margin-top: 100px;
}
.tque
{   
    padding-top: 4px;
    padding-bottom: 3px;
    padding-right: 100px;   
    border: 2px solid #777;
}
.sque
{   
    font-size: 17px;
    color: white;
    background: #2F323A;
    border-color: #2F323A;
    border-radius: 3px;
    transition: 0.3s;
    transition-property: background;
}
.sque:hover
{
    background: rgb(94, 93, 93);
}
.sque:active
{
    background: #2F323A;
}

.sr{
    margin-left: -15pc;
    color: black;
}

.bimg
{
    margin-left: 0px;
    background: rgb(231, 230, 230);
    background-position: center;
    background-size: 100% auto; 
    height: 100% auto;
    width: 100vw auto;
}